<app-pop-up>
  <div
    class="cont-vert-around box2"
    [ngClass]="{ hidden: activePopUpId !== 0 }"
  >
    <h2>
      Войдите с помощью <br />
      номера телефона
    </h2>
    <div class="phone cont-horiz-start">
      <img src="../../assets/img/flag_rus.png" class="flag" />
      <img src="../../assets/img/bottom.png" />
      <div class="v-line"></div>
      <div class="input-text">+7 (903) 123-45-67</div>
    </div>
    <div class="cont-horiz-start">
      <div>
        <!--подкатегория -->
        <input
          class="custom-checkbox"
          type="checkbox"
          id="stapelnye-raboty"
          name="#"
          value="#"
        />
        <label for="stapelnye-raboty">
          <p>
            Согласен с
            <span style="color: #67c4b2"> правилами и условиями </span>
          </p>
        </label>
      </div>
    </div>
    <div
      class="btn2 button-text cont-vert"
      style="width: 50%"
      (click)="nextPopUp()"
    >
      Далее
    </div>
  </div>
  <!-- Second PopUp -->
  <div
    class="cont-vert-around box2"
    [ngClass]="{ hidden: activePopUpId !== 1 }"
  >
    <div style="padding-top: 20px">
      <h2>Мы отправили СМС код</h2>
      <div class="cont-horiz-start">
        <div
          style="
            font-family: 'Montserrat';
            font-style: normal;
            line-height: 130%;
            color: #c0c5d5;
          "
        >
          на номер:
        </div>
        <p class="phone-text">+7 (903) 123-45-67</p>
      </div>
    </div>
    <div class="cont-horiz">
      <input class="sms" type="text" placeholder="0" />
      <input class="sms" type="text" placeholder="0" />
      <input class="sms" type="text" placeholder="0" />
      <input class="sms" type="text" placeholder="0" />
    </div>
    <div class="cont-vert">
      <div class="btn-white" style="width: 100%">Прислать код повторно</div>
      <div
        class="btn2 button-text cont-vert"
        style="width: 100%"
        (click)="nextPopUp()"
      >
        Подтвердить
      </div>
    </div>
  </div>
  <!-- Third PopUp -->
  <div
    class="cont-vert-around box2"
    [ngClass]="{ hidden: activePopUpId !== 2 }"
  >
    <div class="type-name">Представьтесь,&nbsp;пожалуйста</div>
    <input class="fio fio-text" type="text" placeholder="Имя" />
    <input class="fio fio-text" type="text" placeholder="Фамилия" />
    <div class="cont-horiz-start">
      <div>
        <!-- Чекбокс -->
        <input
          class="custom-checkbox"
          type="checkbox"
          id="stapelnye-raboty"
          name="#"
          value="#"
        />
        <label for="stapelnye-raboty">
          <p>
            Согласен с
            <span style="color: #67c4b2"> правилами и условиями </span>
          </p>
        </label>
      </div>
    </div>
    <div class="btn2 button-text" style="width: 80%" (click)="nextPopUp()">
      Продолжить
    </div>
  </div>
  <!-- Fourth PopUp -->
  <div class="cont-vert-around box" [ngClass]="{ hidden: activePopUpId !== 3 }">
    <h1 style="margin-top: 20px">Отлично!</h1>
    <p style="text-align: center; max-width: 326px">
      Теперь вы можеже выбрать любую услугу и специалиста: по названию или найти
      ближайших на карте
    </p>
    <img src="img/reg-ua/welcome.png" style="width: 180px; height: 180px" />
    <div class="cont-horiz">
      <div
        class="btn3 button-text cont-vert"
        style="margin-bottom: 20px"
        (click)="closePopUp()"
      >
        Начать
      </div>
    </div>
  </div>
</app-pop-up>
